{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="container">
    <h1>Modifier mon profil</h1>

    <div class="container-profile">
        <div class="row-profile-picture">
            <div class="profile-picture">
                <img src="{{ asset('img/profile/' ~ participant.photoUrl) }}">
            </div>
        </div>
        <div class="row-profile-information">
            <div class="profile-information">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.username, 'Pseudo') }}
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.firstName, 'Prénom') }}
                        {{ form_widget(form.firstName, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.lastName, 'Nom de famille') }}
                        {{ form_widget(form.lastName, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email, 'Email') }}
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password.first, 'Mot de passe') }}
                        {{ form_widget(form.password.first, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.password.first) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.password.second, 'Répéter le mot de passe') }}
                        {{ form_widget(form.password.second, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.telephone, 'Téléphone') }}
                        {{ form_widget(form.telephone, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(form.telephone) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.site, 'Site') }}
                        {{ form_widget(form.site, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="column profile-button">
                        {{ form_widget(form.save, { 'attr': {'class': 'green-button'} }) }}
                        <a class="red-button" href="{{ path('outing_search') }}" title="Annuler">Annuler</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


</div>
{% endblock %}
