{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="container">
    {% if participant.id == app.user.id %}
        <h1>Mon profil</h1>
    {% endif %}
    <div class="container-profile">
        <div class="row-profile-picture">
            <div class="profile-picture">
                <img src="{{ asset('img/profile/' ~ participant.photoUrl) }}">
            </div>
        </div>
        <div class="row-profile-information">
            <div class="profile-information">
                <div class="column profile-name">
                    <h2>{{ participant.firstName }} {{ participant.lastName }}</h2>
                </div>
                <p>@{{ participant.username }}</p>
                {% if participant.telephone %}
                    <a href="tel:{{ participant.telephone }}">Tel : {{ participant.telephone }}</a>
                {% endif %}
                <a href="mailto:{{ participant.email }}">Email : {{ participant.email }}</a>
                <p>Ville de rattachement : <span>{{ participant.site.name }}</span></p>
            </div>
        </div>
        {% if participant.id == app.user.id %}
        <div class="column profile-button">
            <a class="green-button" href="{{ path('app_edit_profile', {'id': app.user.id}) }}" title="Modifier">Modifier</a>
            <a class="red-button" href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
