<template>
    {{ form_start(formLocation, {'attr': {'class': 'form-location', 'action': path('api_location_new')}}) }}
    <div>
        <div class="form-group">
            {{ form_label(formLocation.name) }}
            {{ form_widget(formLocation.name, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(formLocation.name) }}
        </div>
        <div class="form-group">
            {{ form_label(formLocation.street) }}
            {{ form_widget(formLocation.street, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(formLocation.street) }}
        </div>
        <div class="form-group">
            {{ form_label(formLocation.latitude) }}
            {{ form_widget(formLocation.latitude, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(formLocation.latitude) }}
        </div>
        <div class="form-group">
            {{ form_label(formLocation.longitude) }}
            {{ form_widget(formLocation.longitude, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(formLocation.longitude) }}
        </div>
        <div class="form-group">
            {{ form_label(formLocation.city) }}
            {{ form_widget(formLocation.city, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(formLocation.city) }}
        </div>
        <div class="form-group">
            {{ form_widget(formLocation.save, { 'attr': {'class': 'green-button center'} }) }}
        </div>
    </div>
    {{ form_end(formLocation) }}

</template>