{% extends 'base.html.twig' %}

{% block title %}Sites{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="container">
            <h1>Gérer les sites</h1>
        </div>

        <div class="container">
            <h2>Filtrer les sites</h2>
            <form id="searchForm" method="post">
                <div class="filter">
                    <div class="base">
                        <label>
                            <input id="searchInput" class="input-search" name="text" placeholder="Recherche..." type="search">
                        </label>
                        <button type="button" class="green-button">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Site</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody id="sitesTableBody">
                {% for site in sites %}
                    <tr>
                        <th scope="row">{{ site.name }}</th>
                        <td class="icon action"><a href=""><img class="icon" alt="edit" src="{{ asset('img/icon/edit.svg') }}"></a></td>
                        <td class="icon action"><a href=""><img class="icon" alt="delete" src="{{ asset('img/icon/delete.svg') }}"></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="container">
            <div class="warning">
                Cette page est uniquement accessible au administrateur
            </div>
        </div>
    {% endif %}
{% endblock %}
