{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="container">
        {% if app.user %}
            <div class="center">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% else %}
        <form class="form-login" method="post">

            <h3>Connexion</h3>

            <label class="formLabel" for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="formInput" autocomplete="email" placeholder="email" required autofocus>

            <label class="formLabel" for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="formInput" placeholder="mot de passe" autocomplete="current-password" required>

            <label class="formLabel checkbox">
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>

            <button class="formButton green-button" type="submit" title="Se connecter">
                Connexion
            </button>
            {% if error %}
                {% if error.messageKey == 'Invalid credentials.' %}
                    <div class="formError">Nom d'utilisateur ou mot de passe incorrect.</div>
                {% else %}
                    <div class="formError">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            {% endif %}

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">
        </form>
        {% endif %}
    </div>
{% endblock %}
