/*====================
========GLOBAL========
=====================*/
:root {
    background-color : #FFFCF9;
    --main-color-green: #2ED582;
    --black : #3E3E3E;
    --white : #FFFCF9;
    --white-green : #EBF5EA;
    --grey : #EFEFEF;
    --error : #D52E2E;
}
::selection {
    background: var(--main-color-green);
}

body, p, h1, h2, h3, h4, li, a, input, textarea {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
}
p, li, a, button {
    font-size: 16px;
}
p, li, a:not(.red-button):not(.green-button) {
    margin: 5px 0;
}
body{
    margin: 0;
}

h1 {
    text-align: center;
}
li, a {
    text-decoration: none;
    list-style: none;
}
button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.container {
    max-width: 1525px;
    padding: 25px 40px;
    margin: auto;
}
.icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/*---Input---*/

.input-search {
    font-size: 16px;
    padding: 5px 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #68bd86;
    background: var(--white-green);
}

/*.input-search:focus {*/
/*    border-bottom: 2px solid var(--main-color-green);*/
/*    border-radius: 4px 4px 2px 2px;*/
/*}*/


.row {
    display: flex;
}
.green-button {
    background: var(--main-color-green);
    color: #ffffff;
    padding: 10px 15px;
    text-transform: uppercase;
    border: 2px solid var(--main-color-green);
    border-radius: 5px;
    transition: 0.25s;
    cursor: pointer;
}
.green-button:hover {
    background: none;
    color: var(--main-color-green);
}
.red-button {
    background: var(--error);
    color: #ffffff;
    padding: 10px 15px;
    text-transform: uppercase;
    border: 2px solid var(--error);
    border-radius: 5px;
    transition: 0.25s;
}
.red-button:hover {
    background: none;
    color: var(--error);
}
.column {
    display: flex;
}
/*====================
========HEADER========
=====================*/
header {
    box-shadow: 0 0 8px 0 #d9d9d9;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header.container {
    padding: 5px 40px;
}
.header-nav,
.header-nav ul {
    display: flex;
    align-items: center;
}
.header-nav > ul > li {
    margin: 0 15px;
}

.header .header-logo img{
    width: 80px;
    height: auto;
    margin: 0 10px;
}
.header-nav ul li a {
    --s: 0.1em;
    --c: var(--main-color-green);
    color: #0000;
    padding-bottom: var(--s);
    background: linear-gradient(90deg,var(--c) 50%,var(--black) 0) calc(100% - var(--_p, 0%))/200% 100%, linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: 0.5s;
}
.header-nav ul li a:hover {
    --_p: 100%;
}

.header .profile-picture {
    position: relative;
    margin-left: 35px;
}
.header .profile-picture span {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
    border: 2px solid var(--main-color-green);
    box-shadow: 0 0 5px 0 #e1e1e1;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.header .profile-picture img {
    width: 50px;
    height: 50px;
    transition: 0.25s;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.header .profile-picture span:hover img {
    width: 70px;
    height: 70px;
    left: -10px;
    top: -10px;
}
.header .profile-picture ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: var(--white);
    padding: 5px 15px;
    width: 170px;
    align-items: flex-start;
    box-shadow: 0 0 5px 0 #e1e1e1;
    left: -200%;
}
.header .profile-picture:not(:hover) ul {
    display: none;
}
.header .profile-picture ul li {
    padding: 8px 0;
}

.burger{
    display: none;
}

.userMenu{
    display: none;
}
a.link-profile {
    text-decoration: underline 1px var(--main-color-green);
    text-underline-offset: 4px;
}

@media screen and (max-width: 1000px) {
    .header-nav {
        flex-direction: column;
        position: absolute;
        top: 78px;
        left: 0;
        width: 100%;
        z-index: 100;
        height: -webkit-fill-available;
        background-color: var(--white-green);
    }
    .header-nav ul {
        width: 100%;
        display: contents;
    }

    .header-nav ul li {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .header-nav ul li a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 15px;
        box-sizing: border-box;
        text-align: center;
    }

    li {
        display: flex;
        width: 100%;
        height: -webkit-fill-available;
        margin: auto;
        border-bottom: 0px solid var(--white);
    }

    a{
        color: var(--black);
    }

    /*a:hover {*/
    /*    background: var(--main-color-green);*/
    /*    color: var(--black);*/
    /*}*/

    .header-nav ul li a {
        display: block;
        width: 100%;
        align-self: center;
        box-sizing: border-box;
        text-align: center;
        --s: 0.1em;
        --c: var(--main-color-green);
        color: var(--black);
        -webkit-background-clip: text, padding-box;
        background: var(--white-green);
        padding-top: 40px;
        text-decoration: none;
        border-bottom: 2px solid black;
        font-size: 22px;
        font-weight: 600;
    }

    p, li, a:not(.red-button):not(.green-button) {
         margin: 0;
    }

    .profile-picture{
        display: none;
    }

    .burger {
        position: relative;
        width: 40px;
        height: 30px;
        background: transparent;
        cursor: pointer;
        display: block;
    }

    .burger input {
        display: none;
    }

    .burger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: var(--black);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    .burger span:nth-of-type(1) {
        top: 0;
        transform-origin: left center;
    }

    .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
    }

    .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
    }

    .burger input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0;
        left: 5px;
    }

    .burger input:checked ~ span:nth-of-type(2) {
        width: 0;
        opacity: 0;
    }

    .burger input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
    }
}

/*====================
=========HOME=========
=====================*/
.informations{
    background: var(--white-green);
    width: fit-content;
    float: right;
    padding: 0 20px 1px 0;
    border-radius: 90px 90px 0 90px;
    font-weight: 600;
}
.filter {
    display: flex;
    gap: 115px;
}
.filter > .base > div {
    margin: 10px 0;
}

.table-outing th, .table-outing td {
    padding: 15px 5px;
}

.rechercher {
    display: grid;
    align-items: flex-end;
}

.filter .date-select input {
    outline: none;
    border: none;
}

.plus{
    z-index: 10;
    position: absolute;
    margin-top: -2px;
    margin-left: -10px;
}
/*====================
=========LOGIN========
=====================*/
.form-login{
    margin: 80px auto;
    height: 440px;
    max-width: 450px;
    text-align: center;
    background-color: var(--white);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    /*border: 2px solid rgb(62, 62, 62);*/
    box-shadow: 0 0 10px #b5b5b5e6;
    padding: 50px 35px;
}

.center{
    text-align: center;
}

form h3{
    margin-top: -10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

.formLabel{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 550;
    text-align: left;
}


form .formLabel.checkbox{
    text-align: center !important;
}

.formInput{
    display: block;
    width: 95%;
    height: 50px;
    background-color: var(--white);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
}
.formInput::placeholder {
    font-weight: 300;
}
.formButton{
    margin: 25px auto auto;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
}

.formError{
    color: var(--error);
    margin: 25px auto auto;
    font-weight: 700;
}

/*====================
=========TABLE========
=====================*/
table{
    width: 100%;
}

.table{
    width: 40%;
}

table tbody tr:nth-child(even) {
    background: var(--white);
    color: var(--black);
}
table tbody tr:nth-child(odd) {
    background: var(--white-green);
    color: var(--black);
}

table th, table td {
    padding: 15px 5px;
}

td.action{
    padding: 0 !important;
    text-align: center;
}

/*====================
========SELECT========
=====================*/

/*.dropdown-container {*/
/*    text-align: right;*/
/*}*/

select {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px;
    /*appearance: none;*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/

    padding: 10px;
    border: 2px solid var(--white-green);
    margin-bottom: 5px;
    background-color: var(--white);
    width: 185px;
}

select:hover, select:focus {
    border-color: var(--main-color-green);

}

/*====================
========PROFILE=======
=====================*/
.container-profile {
    max-width: 375px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 5px #f1f1f1;
    padding: 40px;
    border-radius: 25px;
    align-items: center;
}
.container-profile .profile-picture {
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
}
.container-profile .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 125px;
    border: 4px solid var(--main-color-green);
    box-shadow: 0 0 5px 0 #e1e1e1;
    transition: 0.5s;
}
.container-profile .profile-picture img:hover {
    transform: rotate(360deg);
    transition: 0.5s;
}
.container-profile .profile-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-profile .profile-information h2,
.container-profile .profile-information p {
    text-align: center;
}
.container-profile .profile-information form {
    margin-top: 15px;
}
.container-profile .profile-button {
    margin-top: 25px;
    gap: 5px;
    justify-content: center;
}
.container-profile .profile-name {
    position: relative;
}
.container-profile .profile-name::after {
    content: "";
    background-size: contain;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Twitter_Verified_Badge.svg/800px-Twitter_Verified_Badge.svg.png) no-repeat;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 15px;
    right: -18px;
}

div.content-location{
    display: -webkit-inline-box;
}
div.content-location label {
    margin-right: 10px;
}

div.content-location select {
    margin-right: 10px;
    width: fit-content!important;
}

div.content-location div{
    margin-top: 10px;
}

.form-label{
    width: fit-content;
    margin-right: 10px;
    margin-top: 10px;
}

.container-profile form .form-group {
    display: flex;
    margin: 15px 0;
    align-items: center;
    flex-wrap: wrap;
}
.container-profile form .form-group label,
.container-profile form .form-group input {
    width: 45%;
}
.container-profile form .form-group input {
    font-size: 16px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #68bd86;
    background: var(--white-green);
}

/*====================
====DETAIL=OUTING=====
=====================*/
.detail-outing {
    flex-wrap: wrap;
}
.detail-outing input,
.form-location input,
.detail-outing textarea {
    font-size: 16px;
    padding: 5px 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #68bd86;
    background: var(--white-green);
}
.detail-outing > div{
    width: 50%;
    padding: 20px 0;
}
.cadre-table-scroll {
    display: inline-block;
    height: 23em;
    overflow-y: scroll;
    width: 100%;
}
.table-scroll thead th {
    position: sticky;
    top: 0;
    background: var(--white);
}
.detail-outing p,
.detail-outing label,
.form-location label {
    font-weight: bold;
}
.detail-outing textarea {
    resize: none;
}
.detail-outing > div > div label,
.detail-outing > div > div input,
.detail-outing > div > div textarea,
.detail-outing > div > div select {
    width: 40%;
}

.form-location{
    width: 100%;
}

.form-location label,
.form-location input,
.form-location select{
    width: 40%;
}

.detail-outing > div > div,
.form-location div {
    padding: 5px 10px;
}
.detail-outing > div:first-child > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.form-location > div > div{
    display: flex;
    flex-wrap: wrap;
}

.form-location button{
    margin: auto;
}

.detail-outing > div > p {
    padding: 5px 10px;
}
.detail-outing > div > div textarea {
    min-height: 70px;

}
.detail-outing p span {
    font-weight: normal;
}
.outing-button {
    margin-top: 25px;
    gap: 5px;
    justify-content: center;
    display: flex;
}
/*====================
========SWIPER========
=====================*/
.swiper {
    width: 85%;
    height: 370px;
    border-right: 10px;
}
.swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    color: var(--main-color-green);
    font-size: 20px!important;
}
.swiper-button-next,
.swiper-button-prev {
    background: var(--white);
    border-radius: 50px;
    height: 30px!important;
    width: 40px!important
}

#modal-generic{
    display: block;
}

.modal{
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


.modal-content{
    width: 450px;
    height: 330px;
}


.modal-content{
    margin: auto;
    border-top: 10px solid var(--main-color-green);
    border-radius: 0 45px 0 45px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 13px;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-content textarea {
    font-size: 16px;
    padding: 5px 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #68bd86;
    background: var(--white-green);
    width: 100%;
    resize: none;
    min-height: 50px;
}

.modal-xl{
    width: 700px;
    height: 500px;
}

.modal-sm{
    width: 450px;
    height: 330px;
}

/*.modal-xs{*/
/*    width: 700px;*/
/*    height: 500px;*/
/*}*/

.close {
    position: absolute;
    margin-left: 450px;
    margin-bottom: 320px;
    color: var(--black);
    font-size: 28px;
    font-weight: bold;
}


.modal-xl .close {
    margin-left: 700px;
    margin-bottom: 480px;
}

.close:hover,
.close:focus {
    color: var(--error);
    text-decoration: none;
    cursor: pointer;
}

.buttonContainer{
    margin-top: 50px;
}

.text-modal{
    font-size: 22px;
    margin-bottom: 30px;
}


button.acceptButton, button.declineButton{
    width: 120px;
    height: 45px;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    font-weight: 550;
    border-radius: 20px;
    transition-duration: .2s;
    color: var(--white);
}

button.acceptButton:hover, button.declineButton:hover{
    transition-duration: .4s;
}

.acceptButton {
    background-color: var(--main-color-green);
    border: 4px solid var(--main-color-green);
}

.declineButton {
    background-color: var(--error);
    border: 4px solid var(--error);
}

.declineButton:hover {
    background-color: var(--white);
    color: var(--error);
    border: 2px solid var(--error);
}

.acceptButton:hover {
    background-color: var(--white);
    color: var(--main-color-green);
    border: 2px solid var(--main-color-green);
}

/*====================
======SCROLLBAR=======
=====================*/
::-webkit-scrollbar {
    width: 8px;
    background-color: var(--grey);
}

::-webkit-scrollbar-thumb {
    background: var(--black);
}

html {
    scroll-behavior: smooth;
}

.cadre-table-scroll::-webkit-scrollbar {
    width: 4px;
}

.cadre-table-scroll::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 25px;
}

.color-error{
    color: var(--error);
}


/*====================
======RESPONSIVE======
=====================*/
@media screen and (max-width: 915px) {
    .filter {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .filter > .base {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .filter > .checkbox {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}
@media screen and (max-width: 765px) {
    .detail-outing {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .detail-outing > div {
        width: 95%;
        padding: 20px 0;
    }
    .detail-outing > div > div label, .detail-outing > div > div input, .detail-outing > div > div textarea {
        width: 48%;
    }
    .outing-button {
        flex-wrap: wrap;
    }
}
