{% extends 'base.html.twig' %}

{% block title %}Création Sortie{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("js/formLocation.js") }}"> </script>
{% endblock %}


{% block body %}


<div class="container">
    <h1>Création de la sortie</h1>
    {{ form_start(form) }}

    <div class="column detail-outing">
        <div>
            <div class="form-group">
                {{ form_label(form.name, 'Nom de la sortie') }}
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group">
                {{ form_label(form.closingDate, 'Date limite d\'inscription') }}
                {{ form_widget(form.closingDate, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.closingDate) }}
            </div>
            <div class="form-group">
                {{ form_label(form.startDate, 'Date de la sortie') }}
                {{ form_widget(form.startDate, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.startDate) }}
            </div>
            <div class="form-group">
                {{ form_label(form.duration, 'Durée (en minutes)') }}
                {{ form_widget(form.duration, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.duration) }}
            </div>
            <div class="form-group">
                {{ form_label(form.maxRegistrations, 'Nombre de places') }}
                {{ form_widget(form.maxRegistrations, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.maxRegistrations) }}
            </div>
            <div class="form-group">
                {{ form_label(form.infoDescription, 'Description') }}
                {{ form_widget(form.infoDescription, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.infoDescription) }}
            </div>


        </div>
        <div>
            <div><label>Ville organisatrice : </label><span>{{ app.user.site.name }}</span></div>
{#          {# Lieu (assuming Location entity has 'id' property as choice_label) #}
            <div class="content-location">
                {{ form_label(form.location, 'Lieu', { 'attr': {'class': 'form-label'} }) }}
                {{ form_widget(form.location, { 'attr': {'class': 'form-control'} }) }}
                <div id="addLocation"><img class="icon" src="{{ asset('img/icon/add.svg') }}" alt="add"></div>
            </div>
            <p>Rue : <span id="street"></span></p>
            <p>Code postal : <span id="postalCode"></span></p>
            <p>Latitude : <span id="latitude"></span></p>
            <p>Longitude : <span id="longitude"></span></p>
        </div>
    </div>


    {# Boutons de validation personnalisés #}
    <div class="outing-button">
        <button type="submit" name="stateCreate" value="stateCreate" class="green-button">Enregistrer</button>
        <button type="submit" name="stateOpen" value="stateOpen" class="green-button">Publier la sortie</button>
        <a class="red-button" href="{{ path('outing_search') }}" title="Annuler">Annuler</a>
    </div>

    {{ form_end(form) }}
</div>

{{ include('inc/form/formLocation.html.twig') }}



{% endblock %}
