{% extends 'base.html.twig' %}

{% block title %}{{ outing.name }} - Informations{% endblock %}

{% block body %}


<div class="container">
    <h1>Détail de la sortie - {{ outing.name }}</h1>
    <div class="column detail-outing">
        <div>
            <p>Date limite d'inscription : <span>{{ outing.closingDate|date('d/m/Y') }}</span></p>
            <p>Date et heure de la sortie : <span>{{ outing.startDate|date('d/m/Y H:i') }}</span></p>
            <p>Nombre de places : <span>{{ outing.maxRegistrations }}</span></p>
            {# Récupérer le nombre de minutes de la durée #}
            {% set minutes = outing.duration %}
            {# Calcule le nombre d'heures et le nombre de minutes restantes #}
            {% set hours = minutes // 60 %}
            {% set remainingMinutes = minutes % 60 %}
            {# Afficher la durée en heures et minutes #}
            <p>Durée : <span>{{ hours }}h{% if remainingMinutes > 0 %}{{ remainingMinutes }}min{% endif %}</span></p>
            <p>Description et infos : <span>{{ outing.infoDescription|nl2br }}</span></p>
        </div>
        <div>
            <p>Ville organisatrice : <span>{{ outing.organizer.site.name }}</span></p>
            <p>Lieu : <span>{{ outing.location.name }}</span></p>
            <p>Rue : <span>{{ outing.location.street }}</span></p>
            <p>Code postal : <span>{{ outing.location.city.postalCode }}</span></p>
            <p>Latitude : <span>{{ outing.location.latitude }}</span></p>
            <p>Longitude : <span>{{ outing.location.longitude }}</span></p>

        </div>
        <div>
            <p>Liste des participants inscrits</p>
            <div class="cadre-table-scroll">
                <table class="table-outing table-scroll">
                    <thead>
                        <tr>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Nom</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for participant in outing.participants %}
                        <tr>
                            {% if (participant.username == outing.organizer.username) %}
                                <td><a class="link-profile" href="{{ path("app_user_profile", {'id': participant.id}) }}">{{ participant.username }} (organisateur)</a></td>
                            {% else %}
                                <td><a href="{{ path("app_user_profile", {'id': participant.id}) }}">{{ participant.username }}</a></td>
                            {% endif %}
                            <td> {{ participant.lastname }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div>


            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    {% for outingPhoto in outing.outingPhotos %}
                        <div class="swiper-slide"><img src="{{ asset('img/outing/fixtures/'~outing.name ~'/' ~ outingPhoto.fileName) }}"></div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>

</div>

    <script>
        var swiper = new Swiper(".mySwiper", {
            autoplay: {
                delay: 5000,
            },
            spaceBetween: 40,
            // speed: 1500,
            // effect: 'fade',
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
{% endblock %}
