{% extends 'base.html.twig' %}

{% block title %}Recherche Sortie{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("js/outingSearch.js") }}"> </script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="informations">
        <ul>
            <li>Date du jour : {{ "now"|date("d/m/Y") }}</li>
            <li>Participant : {{ app.user.username }}</li>
        </ul>
    </div>
</div><br>
<div class="container">
    <h1>Liste des sorties</h1>

    <h2>Filtrer les sorties</h2>
    <form method="post">
    <div class="filter">
        <div class="base">
            <div class="dropdown-container">
                <label for="site-select">Site:</label>
                <select class="select-wrapped" name="sites" id="site-select" >
                    <option value="">TOUS</option>
                    {% for site in sites %}
                        <option value="{{ site.id }}">{{ site.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="outingName">Le nom de la sortie contient </label>
                <input class="input-search" type="text" id="outingName" name="outingName" placeholder="ex : Escape Game" /></div>
{#            <div class="date-select">#}
{#                <label for="startDateInput">Entre </label>#}
{#                <input type="datetime-local" id="startDateInput">#}
{#                <label for="endDateInput"> et </label>#}
{#                <input type="datetime-local" id="endDateInput">#}
{#            </div>#}
        </div>
        <div class="checkbox">
            <div>
                <input type="checkbox" id="iAmOrganizerCheckBox" name="iAmOrganizerCheckBox" />
                <label for="iAmOrganizerCheckBox">Sorties dont je suis l'organisateur/trice</label>
            </div>
            <div>
                <input type="checkbox" id="iAmRegisteredCheckbox" name="iAmRegisteredCheckbox" />
                <label for="iAmRegisteredCheckbox">Sorties auxquelles je suis inscrit/e</label>
            </div>
            <div>
                <input type="checkbox" id="iAmNotRegisteredCheckbox" name="iAmNotRegisteredCheckbox" />
                <label for="iAmNotRegisteredCheckbox">Sorties auxquelles je ne suis pas inscrit/e</label>
            </div>
            <div>
                <input type="checkbox" id="isOutingPastCheckbox" name="isOutingPastCheckbox" />
                <label for="isOutingPastCheckbox">Sorties passées</label>
            </div>
        </div>
        <div>
            <div class="date-select">
                <label for="startDateInput">Entre </label>
                <input type="datetime-local" id="startDateInput">
                <label for="endDateInput"> et </label>
                <input type="datetime-local" id="endDateInput">
            </div>
        </div>
    </div>
    </form>
</div>
<div class="container">
    <div>
        <a href="{{ path('outing_create') }}"><img class="icon plus" src="{{ asset('img/icon/add.svg') }}" alt="Ajouter"></a>
    </div>
    <div class="cadre-table-scroll">
        <table class="table-outing table-scroll">
            <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits/Places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col" colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
{#                <tr>#}
{#                    <th scope="row">Origamie</th>#}
{#                    <td>30/01/2024 11:26</td>#}
{#                    <td>10/02/2024</td>#}
{#                    <td>7/10</td>#}
{#                    <td>En cours</td>#}
{#                    <td>X</td>#}
{#                    <td>Un type</td>#}
{#                    <td class="action"><img class="icon" src="{{ asset('img/icon/afficher.svg') }}" alt="afficher"></td>#}
{#                    <td class="action"><img class="icon" src="{{ asset('img/icon/desister.svg') }}" alt="desister"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th scope="row">Origamie</th>#}
{#                    <td>30/01/2024 11:26</td>#}
{#                    <td>10/02/2024</td>#}
{#                    <td>7/10</td>#}
{#                    <td>En cours</td>#}
{#                    <td>X</td>#}
{#                    <td>Un type</td>#}
{#                    <td class="action"><img class="icon" src="{{ asset('img/icon/afficher.svg') }}" alt="afficher"></td>#}
{#                    <td class="action"><img class="icon" src="{{ asset('img/icon/sinscrire.svg') }}" alt="desister"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th scope="row">Origamie</th>#}
{#                    <td>30/01/2024 11:26</td>#}
{#                    <td>10/02/2024</td>#}
{#                    <td>7/10</td>#}
{#                    <td>En cours</td>#}
{#                    <td>X</td>#}
{#                    <td>Un type</td>#}
{#                    <td class="action"><img class="icon" src="{{ asset('img/icon/afficher.svg') }}" alt="afficher"></td>#}
{#                    <td class="action"><img class="icon" src="{{ asset('img/icon/publier.svg') }}" alt="desister"></td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th scope="row">Origamie</th>#}
{#                    <td>30/01/2024 11:26</td>#}
{#                    <td>10/02/2024</td>#}
{#                    <td>7/10</td>#}
{#                    <td>En cours</td>#}
{#                    <td>X</td>#}
{#                    <td>Un type</td>#}
{#                    <td class="action"><img class="icon" src="{{ asset('img/icon/afficher.svg') }}" alt="afficher"></td>#}
{#                    <td class="action"><img class="icon" src="{{ asset('img/icon/desister.svg') }}" alt="desister"></td>#}
{#                </tr>#}
            </tbody>
        </table>
    </div>



</div>

<script>
    const userId = {{ app.user.id }}
</script>
{% endblock %}
