{% extends 'base.html.twig' %}

{% block title %}Erreur 401{% endblock %}


{% block body %}
    <div style="text-align: center" class="container">
        <p>Salut c'est Ronaldo SUUUUUUUUUUUUU, t'as pas l'autorisation mon gars SUUUUUU.</p>
        <img src="https://img.wattpad.com/40c7adc264314d895b9a6e26abb72b8d89d9c10d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f5f7749626d4879464a7730506b673d3d2d3637303830323032352e313537333365393738393666373862353135333636353933373630312e676966">
    </div>
{% endblock %}
