{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}


{% block body %}
    <div style="text-align: center" class="container">
        <p>Suuuuuu, la page que vous recherez n'existe pas</p>
        <img src="https://media.tenor.com/GsU_qC2SC08AAAAC/ronaldo-cr7.gif">
    </div>
{% endblock %}
