<div class="header container">
    <div class="header-logo">
        <a href="{{ path('outing_search') }}">
            <img src="{{ asset('img/icon/logoExit.png') }}" alt="logo qui rappel la nature et les couleurs de notre site internet">
        </a>
    </div>
    <label class="burger" for="burger">
        <input type="checkbox" id="burger">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <nav class="header-nav" id="navMenu">
        <ul>
            {% if app.user %}
                {% if app.user.admin %}
                    <li><a href="{{ path('app_city') }}" title="Villes">Villes</a></li>
                    <li><a href="{{ path('app_site') }}" title="Sites">Sites</a></li>
                {% endif %}
            {% endif %}
            <li> <a href="{{ path('outing_search') }}" title="Accueil">Accueil</a></li>
            {% if app.user %}
                <li class="profile-picture"><span><img src="{{ asset('img/profile/' ~ app.user.photoUrl) }}" alt="profile picture"></span>
                    <ul>
                        <li><a href="{{ path('app_user_profile', {'id': app.user.id}) }}">Voir mon profil</a></li>
                        <li><a href="{{ path('app_edit_profile', {'id': app.user.id}) }}">Modifier mon profil</a></li>
                        <li><a href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if not app.user %}
                <li><a href="{{ path('app_login') }}" title="Se connecter">Se connecter</a></li>
            {% endif %}
                {% if app.user %}
                    <ul id="userMenu" class="userMenu">
                        <li><a href="{{ path('app_user_profile', {'id': app.user.id}) }}">Voir mon profil</a></li>
                        <li><a href="{{ path('app_edit_profile', {'id': app.user.id}) }}">Modifier mon profil</a></li>
                        <li class="last-border-bottom" style=""><a href="{{ path('app_logout') }}" title="Se déconnecter">Se déconnecter</a></li>
                    </ul>
                {% endif %}
        </ul>
    </nav>
</div>